
@import url('partials/hr.css');
@import url('partials/genre-results.css');
@import url('partials/movie-list.css');
@import url('partials/header.css');
@import url('partials/footer.css');
@import url('partials/buttons.css');
@import url('partials/forms.css');





