#image{
    width: 120px;
}

li.list-item {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

ul {
    padding: 0 20px;
}

.title{
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 0;
    align-self: start;
}